* {
    background-color: black;
    color: white;
    list-style-type: none;
    
}

.navbar{
    margin-left: 70%;

}

.navbar > ul > li{
    display: inline;
    padding: 20px;
    cursor: pointer;
 
}

.main{
border: white solid;
}

.main > img{
    border-radius: 700%;
    height: 150px;
}